---
layout: default
title: Home
overview: true
---

{% assign counter = 0 %}
{% for item in site.categories.animals %}
    {% unless item.published == false %}
        {% assign counter=counter | plus:1 %}
    {% endunless %}
{% endfor %}

<header id="hero-overlay" class="intro-hero-container">
    <div class="title-hero-container w-container">
        <h1 class="wild-ark-heading">Wild Ark</h1>
        <p class="wild-ark-subheading">Check out photos and learn more about species from around the world.<a href="https://wildark.photo/explore/"><strong><br></strong></a></p><a href="../explore/" class="green-button w-button">EXPLORE</a>
    </div>
</header>
<div class="mission-statement-container">
    <h3 class="mission-statement-heading">BUILDING A PHOTO ARK,<br>ONE PHOTOGRAPH AT A TIME</h3>
    <div class="mission-statement-subheading" id="counter-waypoint">Species around the world, is dissapearing at an alarming rate.</div>
    <p class="mission-statement-description">WildArk is the second photographic ark of its kind. Inspired by the works of <a href="https://www.nationalgeographic.org/find-explorers/joel-sartore" class="decoratedLink" target="_blank">Joel Sartore</a>, WildArk aims to document the vibrant biodivrsity of our planet and inspire people. Similar to Joel's PhotoArk, WildArk's initiator <a href="https://www.upamanyu.in/" class="decoratedLink" target="_blank">Upamanyu Das</a> too aims to photograph animals portraits from around the world as part of a multiyear effort to document every species living in zoos and wildlife sanctuaries.<br></p>
    <div class="mission-statement-image-container"><img src="../images/mink.jpg" alt="" class="mission-statement-mascot"></div>
</div>
<header id="hero-overlay" class="species-count-container">
    <div class="species-count-text-container w-container">
        <h6 class="small-heading">BUILDING THE ARK</h6>
        <h4 class="medium-heading">SPECIES TO DATE<br></h4>
        <h1 class="extra-large-heading counter">{{ counter }}</h1>
        <p class="small-bold-paragrph">In the quest to document the bio-diversity of our planet, Upamanyu has taken portraits of {{ counter }} species — and counting! He aims to photograph all of approximately 15,000 species living in zoos and wildlife sanctuaries around the world.</p>
    </div>
</header>

{% include section-about_upamanyu.html %}

{% include follow.html %}

<div class="photographer-info-container">
    <div class="text-block-2">PHOTOS BY UPAMANYU &amp; KINSHUK DAS / WILD ARK<br></div>
</div>
