<div class="social-links-container">
    <div class="follow-wild-ark w-container">
        <h4 class="follow-photo-ark-heading">FOLLOW PHOTO ARK<br></h4>
        <p class="small-paragraph">Keep up with Wild Ark &amp; Upamanyu Das by following the project on Facebook and Instagram.<br></p><a href="https://facebook.com/das.upamanyu/" target="_blank" class="social-button facebook w-button"></a><a href="https://www.instagram.com/ark.wild/" target="_blank" class="social-button instagram w-button"></a>
    </div>
</div>