<div class="fotorama image-slider-container" data-width="100%" data-height="70%" data-transition="crossfade" data-fit="contain" data-nav="false" data-keyboard="true" data-arrows="true" data-click="true" data-swipe="true" data-autoplay="true" data-loop="true" data-allowfullscreen="native">
	
	{% for image in (1..1) %}
		<img src="{{ site.watermarked_uri_small }}/{{ page.title | slugify: "latin" }}/{{ forloop.index | prepend: '000' | slice: -3, 3 }}.jpg" data-full="{{ site.watermarked_uri_large }}/{{ page.title | slugify: "latin" }}/{{ forloop.index | prepend: '000' | slice: -3, 3 }}.jpg" alt="{{ page.title }}" id="photo-{{ forloop.index }}">
	{% endfor %}

</div>