<header id="nav" class="sticky-nav-top">
    <nav class="w-container">
        <ul class="nav-grid w-list-unstyled">
            <li id="w-node-039b5bdde97b-d44e076e"><a href="{{ site.url }}" aria-current="page" class="nav-logo-link w-inline-block w--current"><img src="{{ site.url }}/images/the_wild_ark_logo-colour4x.png" width="200" alt="" class="nav-logo"></a></li>
            <li><a href="{{. site.url }}" aria-current="page" class="nav-link-4 w--current">Home</a></li>
            <li><a href="#" class="nav-link-4">About</a></li>
            <li><a href="{{ site.url }}/explore/" class="nav-link-4">Explore</a></li>
            <li><a href="https://www.paypal.me/cloudstudios/10" target="_blank" class="green-button donation-button w-button">DONATE</a></li>
        </ul>
    </nav>
</header>