<!-- Search script -->
<script type="text/javascript">
    var request = new XMLHttpRequest();
    var searchBox = document.getElementById("search");
    var resultBox = document.getElementById("search-results");
    var notFoundBox = document.getElementById("not-found");
    var posts;
    var results;
    var html = "";

    request.onreadystatechange = function(e) {

        // the request is done and successful.
        if (request.readyState === 4 && request.status === 200) {

            // parse the json response in to an array of objects.
            posts = JSON.parse(request.responseText);
            // console.log(request.responseText);

            // filter the posts to those who's title contains text from the search box.
            results = posts.filter(function(post) {
                if (post.title.toLowerCase().indexOf(searchBox.value.trim().toLowerCase()) > -1) {
                    return true;
                }
                if (post.name.toLowerCase().indexOf(searchBox.value.trim().toLowerCase()) > -1) {
                    return true;
                }
                if (post.iucn_status.toLowerCase().indexOf(searchBox.value.trim().toLowerCase()) > -1) {
                    return true;
                }
                if (post.class.toLowerCase().indexOf(searchBox.value.trim().toLowerCase()) > -1) {
                    return true;
                }
                if (post.location.toLowerCase().indexOf(searchBox.value.trim().toLowerCase()) > -1) {
                    return true;
                }
            });

            // if there are results, show a list item and link for each result.
            if (results.length > 0 && searchBox.value.trim() != "") {
                window.scrollTo({top: 800, left: 0, behavior: 'smooth'});
                document.getElementsByClassName('main-species-list')[0].style.visibility='hidden';
                html += '<div class="w-layout-grid grid">';
                for (var i = 0; i < results.length; i++) {
                    html += '<a href="' + results[i].url + '" class="photoItem" target="_blank">';
                    html += '<img class="photoItemZoom" src="' + results[i].thumb + '" alt="' + results[i].title + '" />'
                    html += '</a>'
                }
                html += "</div>";

                resultBox.innerHTML = html;
                notFoundBox.innerHTML = ''
            } if (results.length <= 0 && searchBox.value.trim() != "") {
                window.scrollTo({top: 1070, left: 0, behavior: 'smooth'});
                document.getElementsByClassName('main-species-list')[0].style.visibility='hidden';
                html += '<div class="not-found-container" style="font-style: italic">';
                html += '<div class="not-found-headline" ">Uh-oh!</div>';
                html += '<br>';
                html += '<div class="not-found-headline" ">Looks like there are no photos</div>';
                html += '</div>';

                notFoundBox.innerHTML = html;
            } if (searchBox.value.trim() == "") {
                window.scrollTo({top: 800, left: 0, behavior: 'smooth'});
                document.getElementsByClassName('main-species-list')[0].style.visibility='';
                notFoundBox.innerHTML = '';
            }
        }
    };

    // detect input on the search box.
    searchBox.onkeyup = function(e) {
        resultBox.innerHTML = "";
        html = "";
        results = [];
        request.open("GET", "/search.json");
        request.send();
    };
</script>