<div id="pk-fallback-map" class="ng-width-full">
  <div id="iucn-region-map" class="left-side">
    <div class="iucn-map-cntl-panel">
      <button id="map-locate-toggle" class="map-locate" type="button"><i></i></button>
      <button id="map-legend-toggle" class="map-legend" type="button">Map<br/>Legend</button>
    </div>
    <div class="iucn-legend-container">
      <img src="{{ site.url }}/images/map_legend_new.png" alt="legend"/>
    </div>
  </div>


  <div class="ng-text-overlay">

    
    <div class="iucn-field-geo-range">
        <label class="bold-label" style="color: #88A152;">Geographic Range</label>
        <p class="label-content-text" style="margin-left: 0; color: white;"><span id="iucn-geo-range-text"></span><span id="iucn-geo-range-link"></span></p>
    </div>
    

    
    <div class="iucn-field-habitat">
      <label class="bold-label" style="color: #88A152;">Habitat</label>
      <p class="label-content-text" style="margin-left: 0; color: white;"><span id="iucn-habitat-text"></span><span id="iucn-habitat-link"></span></p>
    </div>
    

  </div>
</div>