<div class="about-upamanyu-container">
    <div class="about-upamanyu w-container">
        <h2 class="about-upamanyu-header">About WildArk and Upamanyu Das</h2>

        <img class="upamanyu-thumbnail" src="../images/upamanyu-portrait.png" data-src="../images/upamanyu-portrait.png" style="margin-bottom: 0;" alt="Picture of Upamanyu Das" title="Picture of Upamanyu Das" height="500">
        <!-- full_width -->

        <div class="about-upamanyu-text">
            <h3 class="about-upamanyu-article-kicker"><span style="color:#696969;">“I want people to care, to fall in love, and to take&nbsp;action.”</span></h3>

            <p>Photo Ark is a&nbsp;multiyear effort to document every species living in zoos and wildlife sanctuaries, inspire action through education, and help save wildlife by supporting on-the-ground conservation efforts.</p>

            <p>National Geographic photographer <a class="decoratedLink" href="https://www.nationalgeographic.org/find-explorers/joel-sartore">Joel Sartore</a> started the Photo Ark in his hometown of Lincoln, Nebraska, in 2006. Since then, he has visited more than 50 countries and photographed more than {{ counter }} species in his quest to create this photo archive of global biodiversity.&nbsp;<br>
            <br>
            No matter its size, each animal is treated with the same amount of affection and respect. The results are portraits that are not just stunningly beautiful, but also intimate and moving.&nbsp;</p>
        </div>
    </div>
</div>
