{% include top.html %}

{% include header.html %}

{% include fotorama.html %}

<div class="species-info-container w-container">
    <span class="breadcrumb-link"><a href="{{ site.url }}/explore/" class="decoratedLinkSecond">PHOTO ARK</a></span>

    <h1 class="species-name-heading" id="species-name"></h1>
    <div class="bold-label">Scientific Name</div>
    <div class="label-content-text">{{ page.title }}</div>
    <br>
    <div class="bold-label">Photo Taken At</div>
    <div class="label-content-text"><a href="{{ site.google_search_uri }}{{ page.location }}" class="decoratedLink" target="_blank">{{ page.location }}</a></div>
    <br>
    <div class="bold-label">Population Trend</div>
    <div class="label-content-text populationTrend"></div>
    <br>
    <span id="iucnStatus"></span>
    <br>
    <br>
    <div class="bold-label">Population</div>
    <p class="label-content-text" style="margin-left: 0;"><span id="population"></span><span id="population-link"></span></p>
    <br>
    <br>
    <div class="bold-label">Threats</div>
    <p class="label-content-text" style="margin-left: 0;"><span id="threats"></span><span id="threats-link"></span></p>
    
</div>

{% include follow.html %}

{% include recently-added.html %}

{% include footer.html %}

{% include bottom.html %}