{% include top.html %}

{% include header.html %}

{% include fotorama.html %}

<div class="species-info-container w-container">
    <span class="breadcrumb-link"><a href="{{ site.url }}/explore/" class="decoratedLink">PHOTO ARK</a></span>

    <h1 class="species-name-heading"></h1>
    <div class="bold-label">Scientific Name</div>
    <div class="label-content-text">{{ page.title }}</div>
    <br>
    <div class="bold-label">Photo Taken At</div>
    <div class="label-content-text"><a href="{{ site.google_search_uri }}{{ page.location }}" class="decoratedLink" target="_blank">{{ page.location }}</a></div>
    <br>
    <div class="bold-label">Population Trend</div>
    <div class="label-content-text populationTrend"></div>
    <br>
    <span id="iucnStatus"></span>
    <br>
    <br>
    <div class="bold-label">Population</div>
    <p class="label-content-text population" style="margin-left: 0;"></p>
    <br>
    <br>
    <div class="bold-label">Threats</div>
    <p class="label-content-text threats" style="margin-left: 0;"></p>
    <br>
    <br>
    <br>
    <div id="mapid" style="display: block; width: 600px; height: 400px;"></div>
    <script>
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);
    </script>

    
</div>

{% include follow.html %}

{% include footer.html %}

{% include bottom.html %}