---
layout: default
---

<header id="hero-overlay" class="intro-hero-container">
    <div class="title-hero-container w-container">
        <h1 class="wild-ark-heading">Wild Ark</h1>
        <p class="wild-ark-subheading">Check out the thousands of photos and learn more about species from around the world.</p>
    </div>
</header>
<div class="mission-statement-container">
    <p class="small-bold-paragraph-explore">The Wild Ark, led by photographer Upamanyu Das, is a multiyear effort to document every species living in zoos and wildlife sanctuaries, inspire action through education, and help save wildlife by supporting on-the-ground conservation efforts. Explore the thousands of photos in the Ark to find out more about wildlife around the world and the threats they face in the wild.<br></p>
    <div class="small-bold-heading">IN PARTICIPATION WITH</div>
    <a href="https://www.iucnredlist.org/" class="iucn-red-list-logo" target="_blank"><img src="../images/IUCN_Red_List_logo.svg" width="160" alt="IUCN Red List"></a>
</div>
<header id="nav" class="search-filter-bar">
    <ul class="nav-grid-3 w-list-unstyled">
        <li id="w-node-f89440f7ef3b-ed8661c9" class="list-item-2">
            <input type="search" id="sbox" class="search-input w-input" maxlength="250" name="query" placeholder="Search Species" id="search" required="">
            <input type="submit" value="→" class="search-button w-button">
        </li>
        <li class="list-item-with-right-border">
            <div class="text-block-5">FILTER</div>
        </li>
        <li>
            <div class="text-block-4">Class</div>
            <div data-delay="0" class="w-dropdown">
                <div class="dropdown-filter w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Dropdown</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <a href="#" class="w-dropdown-link">Link 1</a>
                    <a href="#" class="w-dropdown-link">Link 2</a>
                    <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
            </div>
        </li>
        <li>
            <div class="text-block-4">IUCN Red List Status</div>
            <div data-delay="0" class="w-dropdown">
                <div class="dropdown-filter w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Dropdown</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <a href="#" class="w-dropdown-link">Link 1</a>
                    <a href="#" class="w-dropdown-link">Link 2</a>
                    <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
            </div>
        </li>
        <li>
            <div class="text-block-4">Photo taken at</div>
            <div data-delay="0" class="w-dropdown">
                <div class="dropdown-filter w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Dropdown</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <a href="#" class="w-dropdown-link">Link 1</a>
                    <a href="#" class="w-dropdown-link">Link 2</a>
                    <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
            </div>
        </li>
    </ul>
</header>



<div class="wildark-photographs">
    <div id="search-results"></div>
    <div id="not-found"></div>
    <div class="main-species-list" id="main-species-list">
        <div class="w-layout-grid grid">

            {% assign sorted = (site.categories.animal | sort: 'date') %}

            {% for post in sorted %}

                <a href="{{ post.url }}" class="photoItem" target="_blank">
                    <img class="photoItemZoom" src="https://res.cloudinary.com/arkwild/image/upload/c_fill,g_center,h_{{ site.size_thumb | divided_by: 1.5 | floor}},q_auto,w_{{ site.size_thumb }}/wildarkfiles/animals/{{ post.title | slugify: "latin" }}/{{ post.thumb | prepend: '000' | slice: -3, 3 }}.{{ site.cloudinary_image_format }}" title="{{ post.name }}" alt="{{ post.name }}" />
                </a>

            {% endfor %}

        </div>
    </div>
</div>