---
layout: default
---

<header id="hero-overlay" class="intro-hero-container">
    <div class="title-hero-container w-container">
        <h1 class="wild-ark-heading">Wild Ark</h1>
        <p class="wild-ark-subheading">Check out the photos and learn about the species from around the world.</p>
    </div>
</header>

<div class="mission-statement-container">
    <p class="small-bold-paragraph-explore">The idea for Wild Ark was seeded seeded in in the life of Upamanyu Das, in his boyhood. Inspired by the work of Joel Sartore, the Wild Ark is a personal project similar to <a href="https://www.nationalgeographic.org/projects/photo-ark/" target="_blank">Photo Ark</a> to document every species living in zoos and wildlife sanctuaries (around 15,000 species). Think of this as a 2nd Ark that is being build. Explore thephotos in the Ark to find out more about wildlife around the world and the threats they face.<br></p>
    <div class="small-bold-heading">IN PARTICIPATION WITH</div>
    <a href="https://www.iucnredlist.org/" class="iucn-red-list-logo" target="_blank"><img src="../images/IUCN_Red_List_logo.svg" width="160" alt="IUCN Red List"></a>
</div>

{% include section-filter_bar.html %}

<div class="wildark-photographs">
    <div id="search-results"></div>
    <div id="not-found"></div>

    <div class="not-found-container" style="font-style: italic; display: none;">
        <div class="not-found-headline">Uh-oh!</div>
        <br>
        <div class="not-found-headline">Looks like there are no photos</div>
    </div>

    <div class="main-species-list" id="main-species-list">
        <div class="w-layout-grid grid" id="main-species-list-rows">

            {% assign sorted = (site.categories.animals | sort: 'date') | reverse %}

            {% for post in sorted %}

                <a href="{{ post.url }}" class="photoItem" id="photo-item-single" data-sclass="{{ post.class }}" data-iucn="{{ post.iucn }}" data-location="{{ post.location }}" target="_blank">
                    <img class="photoItemZoom" src="https://res.cloudinary.com/arkwild/image/upload/g_center,c_fill,h_{{ site.size_thumb | divided_by: 1.5 | floor}},q_auto,w_{{ site.size_thumb }}/wildarkfiles/{{ post.categories }}/{{ post.title | slugify: "latin" }}/{{ post.thumb | prepend: '000' | slice: -3, 3 }}.{{ site.cloudinary_image_format }}" title="{{ post.name }}" alt="{{ post.name }}" />
                </a>

            {% endfor %}

        </div>
    </div>
</div>
